################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarberShop/.vs/BarberShop/FileContentIndex
